<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="sidenav">
    <mat-toolbar class="current-option">
      <mat-icon>person</mat-icon> Clients
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>Clients</mat-list-item>
      <mat-list-item>Client look history</mat-list-item>
      <mat-list-item>Emergency PIN configuration</mat-list-item>
      <mat-list-item>Emergency PIN history</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="workspace">
      <app-clients></app-clients>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
